{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://ram.amazonaws.com/"
        },
        {
            "url": "http://ram.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Use AWS Resource Access Manager to share AWS resources between AWS accounts. To share a resource, you create a resource share, associate the resource with the resource share, and specify the principals that can access the resource. The following principals are supported:</p> <ul> <li> <p>The ID of an AWS account</p> </li> <li> <p>The Amazon Resource Name (ARN) of an OU from AWS Organizations</p> </li> <li> <p>The Amazon Resource Name (ARN) of an organization from AWS Organizations</p> </li> </ul> <p>If you specify an AWS account that doesn't exist in the same organization as the account that owns the resource share, the owner of the specified account receives an invitation to accept the resource share. After the owner accepts the invitation, they can access the resources in the resource share. An administrator of the specified account can use IAM policies to restrict access resources in the resource share.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Resource Access Manager",
        "version": "2018-01-04",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ram-2018-01-04.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "ram"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/ram/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/acceptresourceshareinvitation": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Accepts an invitation to a resource share from another AWS account.",
                "operationId": "AcceptResourceShareInvitation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientToken": {
                                            "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                            "type": "string"
                                        },
                                        "resourceShareInvitation": {
                                            "description": "Information about the invitation.",
                                            "properties": {
                                                "invitationTimestamp": {
                                                    "description": "The date and time when the invitation was sent.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "receiverAccountId": {
                                                    "description": "The ID of the AWS account that received the invitation.",
                                                    "type": "string"
                                                },
                                                "resourceShareArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                    "type": "string"
                                                },
                                                "resourceShareAssociations": {
                                                    "description": "The resources associated with the resource share.",
                                                    "items": {
                                                        "description": "Describes an association with a resource share.",
                                                        "properties": {
                                                            "associatedEntity": {
                                                                "description": "The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.",
                                                                "type": "string"
                                                            },
                                                            "associationType": {
                                                                "description": "The association type.",
                                                                "enum": [
                                                                    "PRINCIPAL",
                                                                    "RESOURCE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "creationTime": {
                                                                "description": "The time when the association was created.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "external": {
                                                                "description": "Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.",
                                                                "type": "boolean"
                                                            },
                                                            "lastUpdatedTime": {
                                                                "description": "The time when the association was last updated.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "resourceShareArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The status of the association.",
                                                                "enum": [
                                                                    "ASSOCIATING",
                                                                    "ASSOCIATED",
                                                                    "FAILED",
                                                                    "DISASSOCIATING",
                                                                    "DISASSOCIATED"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "statusMessage": {
                                                                "description": "A message about the status of the association.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "resourceShareInvitationArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the invitation.",
                                                    "type": "string"
                                                },
                                                "resourceShareName": {
                                                    "description": "The name of the resource share.",
                                                    "type": "string"
                                                },
                                                "senderAccountId": {
                                                    "description": "The ID of the AWS account that sent the invitation.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The status of the invitation.",
                                                    "enum": [
                                                        "PENDING",
                                                        "ACCEPTED",
                                                        "REJECTED",
                                                        "EXPIRED"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceShareInvitationArnNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceShareInvitationAlreadyAcceptedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceShareInvitationAlreadyRejectedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceShareInvitationExpiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "resourceShareInvitationArn": {
                                        "description": "The Amazon Resource Name (ARN) of the invitation.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "resourceShareInvitationArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/associateresourceshare": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified resource share with the specified principals and resources.",
                "operationId": "AssociateResourceShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientToken": {
                                            "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                            "type": "string"
                                        },
                                        "resourceShareAssociations": {
                                            "description": "Information about the associations.",
                                            "items": {
                                                "description": "Describes an association with a resource share.",
                                                "properties": {
                                                    "associatedEntity": {
                                                        "description": "The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.",
                                                        "type": "string"
                                                    },
                                                    "associationType": {
                                                        "description": "The association type.",
                                                        "enum": [
                                                            "PRINCIPAL",
                                                            "RESOURCE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "creationTime": {
                                                        "description": "The time when the association was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "external": {
                                                        "description": "Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.",
                                                        "type": "boolean"
                                                    },
                                                    "lastUpdatedTime": {
                                                        "description": "The time when the association was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "resourceShareArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the association.",
                                                        "enum": [
                                                            "ASSOCIATING",
                                                            "ASSOCIATED",
                                                            "FAILED",
                                                            "DISASSOCIATING",
                                                            "DISASSOCIATED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusMessage": {
                                                        "description": "A message about the status of the association.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "IdempotentParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceShareLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InvalidClientTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "principals": {
                                        "description": "The principals.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resourceArns": {
                                        "description": "The Amazon Resource Names (ARN) of the resources.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resourceShareArn": {
                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "resourceShareArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/createresourceshare": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a resource share.",
                "operationId": "CreateResourceShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientToken": {
                                            "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                            "type": "string"
                                        },
                                        "resourceShare": {
                                            "description": "Information about the resource share.",
                                            "properties": {
                                                "allowExternalPrincipals": {
                                                    "description": "Indicates whether principals outside your organization can be associated with a resource share.",
                                                    "type": "boolean"
                                                },
                                                "creationTime": {
                                                    "description": "The time when the resource share was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "lastUpdatedTime": {
                                                    "description": "The time when the resource share was last updated.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the resource share.",
                                                    "type": "string"
                                                },
                                                "owningAccountId": {
                                                    "description": "The ID of the AWS account that owns the resource share.",
                                                    "type": "string"
                                                },
                                                "resourceShareArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The status of the resource share.",
                                                    "enum": [
                                                        "PENDING",
                                                        "ACTIVE",
                                                        "FAILED",
                                                        "DELETING",
                                                        "DELETED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "statusMessage": {
                                                    "description": "A message about the status of the resource share.",
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": "The tags for the resource share.",
                                                    "items": {
                                                        "description": "Information about a tag.",
                                                        "properties": {
                                                            "key": {
                                                                "description": "The key of the tag.",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The value of the tag.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "IdempotentParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidClientTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ResourceShareLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "allowExternalPrincipals": {
                                        "description": "Indicates whether principals outside your organization can be associated with a resource share.",
                                        "type": "boolean"
                                    },
                                    "clientToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the resource share.",
                                        "type": "string"
                                    },
                                    "principals": {
                                        "description": "The principals to associate with the resource share. The possible values are IDs of AWS accounts, the ARN of an OU or organization from AWS Organizations.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resourceArns": {
                                        "description": "The Amazon Resource Names (ARN) of the resources to associate with the resource share.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tags": {
                                        "description": "One or more tags.",
                                        "items": {
                                            "description": "Information about a tag.",
                                            "properties": {
                                                "key": {
                                                    "description": "The key of the tag.",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The value of the tag.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/deleteresourceshare": {
            "delete": {
                "description": "Deletes the specified resource share.",
                "operationId": "DeleteResourceShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientToken": {
                                            "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                            "type": "string"
                                        },
                                        "returnValue": {
                                            "description": "Indicates whether the request succeeded.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "IdempotentParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidClientTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/disassociateresourceshare": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Disassociates the specified principals or resources from the specified resource share.",
                "operationId": "DisassociateResourceShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "clientToken": {
                                            "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                            "type": "string"
                                        },
                                        "resourceShareAssociations": {
                                            "description": "Information about the associations.",
                                            "items": {
                                                "description": "Describes an association with a resource share.",
                                                "properties": {
                                                    "associatedEntity": {
                                                        "description": "The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.",
                                                        "type": "string"
                                                    },
                                                    "associationType": {
                                                        "description": "The association type.",
                                                        "enum": [
                                                            "PRINCIPAL",
                                                            "RESOURCE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "creationTime": {
                                                        "description": "The time when the association was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "external": {
                                                        "description": "Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.",
                                                        "type": "boolean"
                                                    },
                                                    "lastUpdatedTime": {
                                                        "description": "The time when the association was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "resourceShareArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the association.",
                                                        "enum": [
                                                            "ASSOCIATING",
                                                            "ASSOCIATED",
                                                            "FAILED",
                                                            "DISASSOCIATING",
                                                            "DISASSOCIATED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusMessage": {
                                                        "description": "A message about the status of the association.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "IdempotentParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceShareLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidStateTransitionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidClientTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "type": "string"
                                    },
                                    "principals": {
                                        "description": "The principals.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resourceArns": {
                                        "description": "The Amazon Resource Names (ARN) of the resources.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resourceShareArn": {
                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "resourceShareArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/enablesharingwithawsorganization": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Enables resource sharing within your organization.",
                "operationId": "EnableSharingWithAwsOrganization",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "returnValue": {
                                            "description": "Indicates whether the request succeeded.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/getresourcepolicies": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets the policies for the specifies resources.",
                "operationId": "GetResourcePolicies",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "A key policy document, in JSON format.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "maxResults": {
                                        "description": "The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.",
                                        "maximum": 500,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "The token for the next page of results.",
                                        "type": "string"
                                    },
                                    "principal": {
                                        "description": "The principal.",
                                        "type": "string"
                                    },
                                    "resourceArns": {
                                        "description": "The Amazon Resource Names (ARN) of the resources.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "resourceArns"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/getresourceshareassociations": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets the associations for the specified resource share.",
                "operationId": "GetResourceShareAssociations",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        },
                                        "resourceShareAssociations": {
                                            "description": "Information about the association.",
                                            "items": {
                                                "description": "Describes an association with a resource share.",
                                                "properties": {
                                                    "associatedEntity": {
                                                        "description": "The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.",
                                                        "type": "string"
                                                    },
                                                    "associationType": {
                                                        "description": "The association type.",
                                                        "enum": [
                                                            "PRINCIPAL",
                                                            "RESOURCE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "creationTime": {
                                                        "description": "The time when the association was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "external": {
                                                        "description": "Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.",
                                                        "type": "boolean"
                                                    },
                                                    "lastUpdatedTime": {
                                                        "description": "The time when the association was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "resourceShareArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the association.",
                                                        "enum": [
                                                            "ASSOCIATING",
                                                            "ASSOCIATED",
                                                            "FAILED",
                                                            "DISASSOCIATING",
                                                            "DISASSOCIATED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusMessage": {
                                                        "description": "A message about the status of the association.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnknownResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "MalformedArnException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServerInternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "associationStatus": {
                                        "description": "The status of the association.",
                                        "enum": [
                                            "ASSOCIATING",
                                            "ASSOCIATED",
                                            "FAILED",
                                            "DISASSOCIATING",
                                            "DISASSOCIATED"
                                        ],
                                        "type": "string"
                                    },
                                    "associationType": {
                                        "description": "The association type.",
                                        "enum": [
                                            "PRINCIPAL",
                                            "RESOURCE"
                                        ],
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.",
                                        "maximum": 500,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "The token for the next page of results.",
                                        "type": "string"
                                    },
                                    "principal": {
                                        "description": "The principal.",
                                        "type": "string"
                                    },
                                    "resourceArn": {
                                        "description": "The Amazon Resource Name (ARN) of the resource.",
                                        "type": "string"
                                    },
                                    "resourceShareArns": {
                                        "description": "The Amazon Resource Names (ARN) of the resource shares.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "associationType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/getresourceshareinvitations": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets the specified invitations for resource sharing.",
                "operationId": "GetResourceShareInvitations",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        },
                                        "resourceShareInvitations": {
                                            "description": "Information about the invitations.",
                                            "items": {
                                                "description": "Describes an invitation to join a resource share.",
                                                "properties": {
                                                    "invitationTimestamp": {
                                                        "description": "The date and time when the invitation was sent.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "receiverAccountId": {
                                                        "description": "The ID of the AWS account that received the invitation.",
                                                        "type": "string"
                                                    },
                                                    "resourceShareArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource share.",
                                                        "type": "string"
                                                    },
                                                    "resourceShareAssociations": {
                                                        "description": "The resources associated with the resource share.",
                                                        "items": {
                                                            "description": "Describes an association with a resource share.",
                                                            "properties": {
                                                                "associatedEntity": {
                                                                    "description": "The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.",
                                                                    "type": "string"
                                                                },
                                                                "associationType": {
                                                                    "description": "The association type.",
                                                                    "enum": [
                                                                        "PRINCIPAL",
                                                                        "RESOURCE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "creationTime": {
                                                                    "description": "The time when the association was created.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "external": {
                                                                    "description": "Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.",
                                                                    "type": "boolean"
                                                                },
                                                                "lastUpdatedTime": {
[...]
